.back {
    padding: 10px;
    color: #000;
    display: inline-block;
    transition: color 350ms ease
}

.back:hover {
    color: darkgreen;
}

.back::after {
    content: '';
    margin-top: 4px;
    display: block;
    height: 1px;
    background-color: #000;
    transition: background-color 350ms ease;
}

.back:hover::after {
    background-color: darkgreen;
}

.formFields {
    width: 50%;
}

.field {
    margin-top: 20px;
}

.field input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    outline: none;
}

.block {
    display: block;
}

.mainContainer {
    max-width: 800px;
    margin: 0 auto;
    background-color: lightgrey;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textCenter {
    text-align: center;
}

.btn {
    padding: 0.7em;
    margin-top: 80px;
    background-color: darkgreen;
    border: none;
    color: #fff;
    width: 100%;
    margin-bottom: 50px;
    font-weight: bold;
}

.btn:hover {
    cursor: pointer;
}

.itembox {
    margin: 20px
}

.title {
    font-size: 26px;
    text-decoration: underline;
    transition: all 350ms ease;
}

.text {
    font-size: 20px;
}